<!DOCTYPE html>

<html>

<head>
   
<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>
    <%- include ('partials/nav.ejs'); -%>
<h1>Message from my computer:</h1>
<p><samp>File not found.<br>Press F1 to continue</samp></p>

    </ul>
</body>

</html>